
#============================== LuCI ==============================#
# Applications
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_appfilter=y
CONFIG_PACKAGE_kmod-oaf=y
CONFIG_PACKAGE_luci-app-onliner=y
CONFIG_PACKAGE_luci-app-passwall2=y
CONFIG_PACKAGE_luci-app-pushbot=y
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_PDNSD=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_DNSFORWARDER=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_DNSPROXY=y
# CONFIG_PACKAGE_luci-app-adbyby-plus is not set
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
# CONFIG_PACKAGE_luci-app-unblockmusic_INCLUDE_UnblockNeteaseMusic_Go is not set
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-vsftpd=y
CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-smartdns=y
# 4. Themes
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-infinityfreedom=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-theme-netgear=y
CONFIG_PACKAGE_luci-theme-neobird=y

#
# Download Manager
#
CONFIG_PACKAGE_ariang=y

#
# Aria2 Configuration
#
# CONFIG_ARIA2_OPENSSL is not set
# CONFIG_ARIA2_GNUTLS is not set
# CONFIG_ARIA2_NOSSL is not set
# CONFIG_ARIA2_LIBXML2 is not set
# CONFIG_ARIA2_EXPAT is not set
# CONFIG_ARIA2_NOXML is not set
# CONFIG_ARIA2_BITTORRENTis not set
# CONFIG_ARIA2_SFTP is not set
# CONFIG_ARIA2_ASYNC_DNS is not set
# CONFIG_ARIA2_COOKIE is not set
# CONFIG_ARIA2_WEBSOCKET is not set
# end of Aria2 Configuration

# Lang Support
CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh-cn=y
#============================== end of LuCI ==============================#


# CONFIG_PACKAGE_luci-app-samba4 is not set
# CONFIG_PACKAGE_luci-i18n-samba4-ca is not set
# CONFIG_PACKAGE_luci-i18n-samba4-cs is not set
# CONFIG_PACKAGE_luci-i18n-samba4-de is not set
# CONFIG_PACKAGE_luci-i18n-samba4-el is not set
# CONFIG_PACKAGE_luci-i18n-samba4-en is not set
# CONFIG_PACKAGE_luci-i18n-samba4-es is not set
# CONFIG_PACKAGE_luci-i18n-samba4-fr is not set
# CONFIG_PACKAGE_luci-i18n-samba4-he is not set
# CONFIG_PACKAGE_luci-i18n-samba4-hu is not set
# CONFIG_PACKAGE_luci-i18n-samba4-it is not set
# CONFIG_PACKAGE_luci-i18n-samba4-ja is not set
# CONFIG_PACKAGE_luci-i18n-samba4-ms is not set
# CONFIG_PACKAGE_luci-i18n-samba4-no is not set
# CONFIG_PACKAGE_luci-i18n-samba4-pl is not set
# CONFIG_PACKAGE_luci-i18n-samba4-pt is not set
# CONFIG_PACKAGE_luci-i18n-samba4-pt-br is not set
# CONFIG_PACKAGE_luci-i18n-samba4-ro is not set
# CONFIG_PACKAGE_luci-i18n-samba4-ru is not set
# CONFIG_PACKAGE_luci-i18n-samba4-sk is not set
# CONFIG_PACKAGE_luci-i18n-samba4-sv is not set
# CONFIG_PACKAGE_luci-i18n-samba4-tr is not set
# CONFIG_PACKAGE_luci-i18n-samba4-uk is not set
# CONFIG_PACKAGE_luci-i18n-samba4-vi is not set
# CONFIG_PACKAGE_luci-i18n-samba4-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-samba4-zh-tw is not set
# CONFIG_PACKAGE_samba4-admin is not set
# CONFIG_PACKAGE_samba4-client is not set
# CONFIG_PACKAGE_samba4-libs is not set
# CONFIG_PACKAGE_samba4-server is not set
# CONFIG_PACKAGE_samba4-utils is not set

CONFIG_PACKAGE_autosamba=y
CONFIG_PACKAGE_luci-app-samba=y
CONFIG_PACKAGE_samba36-server=y
