# Target Config
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y

#
# Root filesystem archives
#
CONFIG_TARGET_ROOTFS_TARGZ=y

#
# Root filesystem images
#
# CONFIG_TARGET_ROOTFS_SQUASHFS is not set
# CONFIG_TARGET_IMAGES_GZIP is not set

#
# Boot Loaders
#
# CONFIG_PACKAGE_grub2 is not set
# CONFIG_PACKAGE_grub2-efi is not set


#
# Boot Loaders
#
# CONFIG_PACKAGE_grub2-bios-setup is not set
