# Target Config
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_ISO_IMAGES=y
CONFIG_VMDK_IMAGES=y
CONFIG_TARGET_ROOTFS_TARGZ=y
# 选择 WolfSSL 作为默认 SSL 库
CONFIG_PACKAGE_libwolfssl=y
CONFIG_PACKAGE_libustream-wolfssl=y

# 确保 OpenSSL 不被选中
# CONFIG_PACKAGE_libopenssl is not set
# CONFIG_PACKAGE_libustream-openssl is not set

# LuCI HTTPS 支持
CONFIG_PACKAGE_luci-ssl=y
